<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LightingJJ</title>

        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    </head>
    <body>

        <header>
            <h1>LightingJJ</h1>
            <nav>
                {% block header %}  
                
                {% endblock %} 
            </nav>
        </header>

        <main>
            {% block content %}

            {% endblock %}
        </main>

        <footer>
            {% block footer %} 
                <p>&copy; {{ "now"|date("Y") }}</p>
            {% endblock %}
        </footer>

    </body>
</html>