{% extends 'base.html.twig' %}

{% block header %}
    <a href="/">Login</a>
{% endblock %}

{% block content %}
    <h1>Restablecer contraseña</h1>

    <form method="post" action="{{ path('reset_password_email_sent')}}">
        Introduce tu nombre de usuario para restablecer tu contraseña:<br><br>
        <input type="text" name="reset_username" placeholder="Nombre de usuario"><br><br>
        <button type="submit">Restablecer Contraseña</button>
    </form><br>
    <hr>
    <p>¿Ya tienes una cuenta? <a href="/">Inicia sesión aquí</a>.</p><br>
    <p>Nota: Se enviará un correo electrónico con instrucciones para restablecer tu contraseña si el nombre de usuario y correo electrónico coinciden con una cuenta existente.</p>
{% endblock %}
