{% extends 'base.html.twig' %}

{% block header %}
    <a href="/">Login</a>
{% endblock %}

{% block content %}
{% if error is defined %}
    <p style="
        color: #dc2626;
        background: #fee2e2;
        padding: 12px;
        border-radius: 10px;
        margin-bottom: 20px;
    ">
        {{ error }}
    </p>
{% endif %}
    <h1>Restablecer contraseña</h1>

    <form method="post" action="{{ path('reset_password_email_sent')}}">
        Introduce tu nombre de usuario para restablecer tu contraseña:<br><br>
        <input type="text" name="reset_username" placeholder="Nombre de usuario"><br><br>
        <button type="submit">Restablecer Contraseña</button>
    </form><br>
    <hr>
    <p>¿Ya tienes una cuenta? <a href="/">Inicia sesión aquí</a>.</p><br>
    <p>
    Nota: Si el usuario existe, recibirás un correo electrónico con un enlace seguro para restablecer tu contraseña.
    Revisa también la carpeta de spam o correo no deseado.
    </p>
{% endblock %}
