{% extends 'base.html.twig' %}

{% block header %}
    <a href="/">Login</a>
{% endblock %}

{% block content %}

<h1>🔒 Nueva contraseña</h1><br>

{% if error is defined %}
    <p style="
        color: #dc2626;
        background: #fee2e2;
        padding: 12px;
        border-radius: 10px;
        margin-bottom: 20px;
    ">
        {{ error }}
    </p>
{% endif %}

{% if token is defined %}

<form method="post" action="{{ path('save_new_password', {'token': token}) }}">

    Nueva contraseña:<br>
    <input
        type="password"
        name="new_password"
        placeholder="Nueva contraseña"
    ><br><br>

    Repetir contraseña:<br>
    <input
        type="password"
        name="repeat_new_password"
        placeholder="Repetir contraseña"
    ><br><br>

    <button type="submit">
        Guardar nueva contraseña
    </button>

</form>

{% endif %}

<br>
<hr>

<p>
    Recuerda utilizar una contraseña segura y difícil de adivinar.
</p>

{% endblock %}
